doctype html
html
    head
        title 게시판 목록
    body
        h1 유치원 관리자 페이지
        a(href="/board/post") 이름 및 반 정보추가
        br
        br
        a(href="/board/students") 이름 및 반 조회
        br
        br
        a(href="/board/attendance") 출결 정보 추가